{% load static %}

<footer class="container-fluid pt-5 pb-5 bg-light">
    <div class="container">
        <div class="row">
     <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <a href="/"><img src="{% static 'img/logo.svg' %}" width="200"></a>
       <ul class="list-unstyled pl-5 pt-3">
         <li><a href="/">Asosiy</a></li>
         <li><a href="{% url 'core:aboutus' %}">Biz haqimizda</a></li>
         <li><a href="{% url 'core:mockup' %}">Muckup</a></li>
       </ul>
     </div>
     <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5">
      <h5 class="font-weight-bold">Foydali hovolalar</h5>
        <div class="form-inline">
        <ul class="list-unstyled pl-5 pt-2">
         <li><a href="">Logo</a></li>
         <li><a href="">Fudbolkalar</a></li>
         <li><a href="">Buyumlar</a></li>
         <li><a href="">Avtomobillar</a></li>
         <li><a href="">Qiziqarli</a></li>
       </ul> 
       <ul class="list-unstyled pl-5 pt-2">
         <li><a href="">Logo</a></li>
         <li><a href="">Fudbolkalar</a></li>
         <li><a href="">Buyumlar</a></li>
         <li><a href="">Avtomobillar</a></li>
         <li><a href="">Qiziqarli</a></li>
       </ul>
        </div>
     </div>
     <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4"> 
     <h5 class="font-weight-bold">Biz ijtimoiy tarmoqlarda</h5>       
       <ul class="list-unstyled pl-5 pt-2 socialIcon">
          <span class="telegram"><i class="fa fa-telegram  mr-2"></i></span>
          <span class="instagram"><i class="fa fa-instagram  mr-2"></i></span>
       </ul>
     </div>
  </div>
  <div class="row border-top pt-3">
     <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        {% now 'Y' as year %}
        ©{{ year }} Barcha huquqlar himoyalangan.
      </div>
     <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-right">
        Sayt <a href="https://www.myweb.uz/">MYWEB.UZ</a> studiyasida ishlab chiqilgan.
      </div>
  </div>
    </div>
</footer>