{% load static %}

<header class="container-fluid pl-0 pr-0 bg-light">
    <nav class="container navbar navbar-expand-lg navbar-light text-center">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'core:home' %}"><img src="{% static 'img/logo.svg' %}" class="headerLogo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto pt-2">
                    <li class="nav-item">
                        <a class="nav-link active h5" aria-current="page" href="/">Asosiy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active h5" href="{% url 'core:aboutus' %}">Biz haqimizda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active h5" href="{% url 'core:mockup' %}">Mockup</a>
                    </li>
                </ul>
                <form class="d-flex pl-5 socialIconHeader ml-5 ml-lg-0 ml-xl-0">
                    <span class="telegram"><i class="fa fa-telegram mr-2"></i></span>
                    <span class="instagram"><i class="fa fa-instagram mr-2"></i></span>
                    
                    <div class="dropdown dropdown-menu-right">
                        <img src="{% static 'img/user.svg' %}" width="25" height="25" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'account:login' %}">Kirish</a>
                            <a class="dropdown-item" href="{% url 'account:signup' %}">Registratsiya</a>
                            <a class="dropdown-item" href="#">Mening profilim</a>
                            <a class="dropdown-item" href="#">Chiqish</a>
                        </div>
                    </div>
                </form>    
        
            </div>
        </div>
    </nav>
</header>