<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>muckup.uz</title>
  <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
  <link rel="stylesheet" type="text/css" href="css/fakeLoader.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <style type="text/css"></style>
</head>
<body>

<header class="container-fluid pl-0 pr-0 bg-light">
  <nav class="container navbar navbar-expand-lg navbar-light text-center">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html"><img src="img/logo.svg" class="headerLogo" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto pt-2">
        <li class="nav-item">
          <a class="nav-link active h5" aria-current="page" href="index.html">Asosiy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active h5" href="aboutus.html">Biz haqimizda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active h5" href="products.html">Muckup</a>
        </li>
      </ul>
      <form class="d-flex pl-5 socialIconHeader ml-5 ml-lg-0 ml-xl-0">
          <span class="telegram"><i class="fa fa-telegram mr-2"></i></span>
          <span class="instagram"><i class="fa fa-instagram mr-2"></i></span>
          
          <div class="dropdown dropdown-menu-right">
              <img src="img/user.svg" width="25" height="25" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="login.html">Kirish</a>
              <a class="dropdown-item" href="register.html">Registratsiya</a>
              <a class="dropdown-item" href="#">Mening profilim</a>
              <a class="dropdown-item" href="#">Chiqish</a>
            </div>
          </div>
      </form>    

    </div>
  </div>
</nav>
</header>








<section class="container pt-5 pb-5">
  <div class="row">
     
     <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center"> 
        <img src="img/user.svg" width="300">
     </div>
     <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"> 
       Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
       consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
       cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
       proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
     </div>
  </div>
  <div class="row">
    
  </div>
     
</section>















<footer class="container-fluid pt-5 pb-5 bg-light">
    <div class="container">
        <div class="row">
     <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <a href="#!"><img src="img/logo.svg" width="200"></a>
       <ul class="list-unstyled pl-5 pt-3">
         <li>Asosiy</li>
         <li>Biz haqimizda</li>
         <li>Muckup</li>
       </ul>
     </div>
     <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5">
      <h5 class="font-weight-bold">Foydali hovolalar</h5>
        <div class="form-inline">
        <ul class="list-unstyled pl-5 pt-2">
         <li>Logo</li>
         <li>Fudbolkalar</li>
         <li>Buyumlar</li>
         <li>Avtomobillar</li>
         <li>Qiziqarli</li>
       </ul> 
       <ul class="list-unstyled pl-5 pt-2">
         <li>Logo</li>
         <li>Fudbolkalar</li>
         <li>Buyumlar</li>
         <li>Avtomobillar</li>
         <li>Qiziqarli</li>
       </ul>
        </div>
     </div>
     <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4"> 
     <h5 class="font-weight-bold">Biz ijtimoiy tarmoqlarda</h5>       
       <ul class="list-unstyled pl-5 pt-2 socialIcon">
          <span class="telegram"><i class="fa fa-telegram  mr-2"></i></span>
          <span class="instagram"><i class="fa fa-instagram  mr-2"></i></span>
       </ul>
     </div>
  </div>
  <div class="row border-top pt-3">
     <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        © 2021 Barcha huquqlar himoyalangan.
      </div>
     <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-right">
        Sayt MYWEB.UZ studiyasida ishlab chiqilgan.
      </div>
  </div>
    </div>
</footer>


  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/fakeLoader.min.js"></script>
  <script src="js/script.js"></script>

</body>
</html>
