{% extends 'base.html' %}
{% load static %}

	{% block title %} 
		<title>muckup.uz</title>
	{% endblock title %}

	{% block css %} 
		<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
		<!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/fakeLoader.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<style type="text/css"></style>
	{% endblock css %}

	{% block body %}
		<section class="container-fluid pt-5 pb-5">
				<div class="row w-75 m-auto">
					<div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category_col">
						<ul class="list-unstyled">
							<li class="font-weight-bold text-center h4">Kategoriyalar</li>
							{% for category in categories %}
								<li><a href="#!" class="text-dark">{{ category.name }}</a></li>
							{% endfor %}
						</ul>
					</div>
					<div class="col-12 col-sm-12 col-md-6 col-lg-9 col-xl-9">
						<div class="row text-center">
							{% for obj in object_list %}
								<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 pb-4">
									<div class="profile-card card shadow-lg border-0">
										<div class="profile-img">
											<!-- Product Image -->
											{% for image in obj.product_image.all %}
												{% if forloop.counter == 1 %}
													<img src="{{ image.imageURL }}" alt="Team Image"/>
												{% endif %}
											{% endfor %}
											<!-- End Product Image -->
										</div>
										<!-- Price -->
										{% if obj.free %}
											<h6 class="p-3 font-weight-bold text-success">free</h6>
										{% elif obj.discount %}
											<small><del>{{ obj.price }}</del></small>
											<h6 class="p-3 font-weight-bold text-success">{{ obj.discount }}</h6>
										{% elif obj.price %}
											<h6 class="p-3 font-weight-bold text-success">{{ obj.price }}</h6>
										{% else %}
											<h6 class="p-3 font-weight-bold text-success">free</h6>
										{% endif %}
										<!-- End Price -->
										<h5 class="card-title pl-3 pr-3">{{ obj.name }}</h5>
										<div class="profile-content">
											<ul class="social-link">
												<a href="#!" class="text-white"><i class="fa fa-download fa-2x mr-2"></i></a>
												<a href="{% url 'core:detail' obj.slug %}" class="text-white"><i class="fa fa-eye fa-2x mr-2"></i></a>
												<a href="#!" class="text-white"><i class="fa fa-heart fa-2x"></i></a>
											</ul>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
						<div class="row text-center">
							<nav class="m-auto" aria-label="Page navigation example">
							<ul class="pagination pagination-lg">
								<li class="page-item">
									<a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
								</li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>    
								<li class="page-item">
									<a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
								</li>
							</ul>
						</nav>
						</div>

					</div>
				</div>
		</section>

		<section class="container-fluid bg-light pl-3 pr-3 pt-5 pb-5 border-bottom">
			<div class="container p-3">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<h4 class="font-weight-bold">Eng ko'p ko'rilganlar</h4>
					</div>
				</div>
				<div class="row">
					{% for obj in recomended_product %}
						<div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 p-3  border">
							<div class="card border-0  bg-transparent"> 
								<a href="{% url 'core:detail' obj.slug %}" class="text-dark pt-1"> 
									{% for image in obj.product_image.all %}       
										{% if forloop.counter == 1 %}	
											<img src="{{ image.imageURL }}" alt="Team Image"/ width="100%" height="200">
										{% endif %}
									{% endfor %}
									<small class="pt-2">{{ obj.name }}</small>
								</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>
	{% endblock body %} 

	{% block js %} 
		<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/fakeLoader.min.js' %}"></script>
		<script src="{% static 'js/script.js' %}"></script>
	{% endblock js %}